SCA/ESB/src/jbiServiceUnits/SCA/BPEL/Partners/IM/IMSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.smilecoms.com/schema/IM"
            xmlns:tns="http://xml.smilecoms.com/schema/IM"
            elementFormDefault="qualified">
    <xsd:simpleType name="stDone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="PlatformString" >
        <xsd:complexContent>
            <xsd:extension  base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="String" type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PlatformInteger" >
        <xsd:complexContent>
            <xsd:extension  base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Integer" type="xsd:int">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PlatformContext">
        <xsd:sequence>
            <xsd:element name="TxId" type="xsd:string"></xsd:element>
            <xsd:element name="OriginatingIdentity" type="xsd:string"></xsd:element>
            <xsd:element name="OriginatingIP" type="xsd:string"></xsd:element>
            <xsd:element name="Tenant" type="xsd:string"></xsd:element>
            <xsd:element name="Comment" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PlatformObject">
        <xsd:sequence>
            <xsd:element name="PlatformContext" type="tns:PlatformContext" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IMError">
        <xsd:sequence>
            <xsd:element name="ErrorDesc" type="xsd:string">
            </xsd:element>
            <xsd:element name="ErrorType" type="xsd:string">
            </xsd:element>
            <xsd:element name="ErrorCode" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="IMError" type="tns:IMError">
    </xsd:element>
    <xsd:element name="IsUpRequest" type="xsd:string"></xsd:element>
    <xsd:complexType name="Done">
        <xsd:sequence>
            <xsd:element name="Done" type="tns:stDone"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Done" type="tns:Done">
    </xsd:element>
    
    
    <!--
    **********************************************
                       CUSTOMER MANAGEMENT
    **********************************************
    -->
    
    <xsd:complexType name="AuthenticationQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SSOIdentity" type="xsd:string"/>
                    <xsd:element name="SSOEncryptedPassword" type="xsd:string"/>
                    <xsd:element name="IMSPublicIdentity" type="xsd:string"/>
                    <xsd:element name="ActivationCode" type="xsd:string"/>
                    <xsd:element name="EncryptedAppKey" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="Photograph">
        <xsd:sequence>
            <xsd:element name="PhotoGuid" type="xsd:string"/>
            <xsd:element name="PhotoType" type="xsd:string"/>
            <xsd:element name="Data" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
       
    <xsd:complexType name="AuthenticationResult">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Done" type="tns:stDone">
                    </xsd:element>
                    <xsd:element name="SecurityGroups" type="xsd:string" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element name="CustomerStatus" type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    
    <xsd:complexType name="Customer">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="Title" type="xsd:string"/>
                    <xsd:element name="FirstName" type="xsd:string"/>
                    <xsd:element name="MiddleName" type="xsd:string"/>                    
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="CustomerStatus" type="xsd:string"/>
                    <xsd:element name="IdentityNumber" type="xsd:string"/>
                    <xsd:element name="IdentityNumberType" type="xsd:string"/>
                    <xsd:element name="NationalIdentityNumber" type="xsd:string"/>
                    <xsd:element name="IsNinVerified" type="xsd:string"/>
                    <xsd:element name="CardNumber" type="xsd:string"/>
                    <xsd:element name="CreatedDateTime" type="xsd:dateTime"/>
                    <xsd:element name="Version" type="xsd:int"/>
                    <xsd:element name="Addresses" type="tns:Address" maxOccurs="unbounded"/>
                    <xsd:element name="DateOfBirth" type="xsd:string"/>
                    <xsd:element name="Gender" type="xsd:string"/>
                    <xsd:element name="Language" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element name="AlternativeContact1" type="xsd:string"/>
                    <xsd:element name="AlternativeContact2" type="xsd:string"/>
                    <xsd:element name="Classification" type="xsd:string"/>
                    <xsd:element name="SSOIdentity" type="xsd:string"/>
                    <xsd:element name="SSODigest" type="xsd:string"/>
                    <xsd:element name="SSOAuthFlags" type="xsd:int"/>
                    <xsd:element name="OptInLevel" type="xsd:int"/>
                    <xsd:element name="SecurityGroups" type="xsd:string" maxOccurs="unbounded"/>     
                    <xsd:element name="CustomerSellers" type="xsd:int" maxOccurs="unbounded"/>               
                    <xsd:element name="CustomerPhotographs" type="tns:Photograph" maxOccurs="unbounded"/>
                    <xsd:element name="AccountManagerCustomerProfileId" type="xsd:int"/>
                    <xsd:element name="OutstandingTermsAndConditions" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="CustomerRoles" type="tns:CustomerRole" maxOccurs="unbounded"/>
                    <xsd:element name="MothersMaidenName" type="xsd:string"/>
                    <xsd:element name="Nationality" type="xsd:string"/>
                    <xsd:element name="PassportExpiryDate" type="xsd:string"/>
                    <xsd:element name="VisaExpiryDate" type="xsd:string"/>
                    <xsd:element name="WarehouseId" type="xsd:string"/>
                    <xsd:element name="CreatedByCustomerProfileId" type="xsd:int"/>
                    <xsd:element name="KYCStatus" type="xsd:string"/>
                    <xsd:element name="ReferralCode" type="xsd:string"/>
                    <xsd:element name="CountryCode" type="xsd:string"/>
                    <xsd:element name="MandatoryKYCFields" type="tns:MandatoryKYCFields"/>
                    <xsd:element name="CustomerNinData" type="tns:CustomerNinData"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CustomerQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="FirstName" type="xsd:string"/>
                    <xsd:element name="OrganisationName" type="xsd:string"/>
                    <xsd:element name="IdentityNumber" type="xsd:string"/>
                    <xsd:element name="NationalIdentityNumber" type="xsd:string"/>
                    <xsd:element name="IsNinVerified" type="xsd:string"/>
                    <xsd:element name="SecurityGroupType" type="xsd:string"/>
                    <xsd:element name="SSOIdentity" type="xsd:string"/>
                    <xsd:element name="AlternativeContact" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element name="KYCStatus" type="xsd:string"/>                    
                    <xsd:element name="ResultLimit" type="xsd:int"/>
                    <xsd:element name="Verbosity" type="xsd:string"/>
                    <xsd:element name="MandatoryKYCFields" type="tns:MandatoryKYCFields"/> 
                    <xsd:element name="CustomerNinData" type="tns:CustomerNinData"/>                
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="TenantQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="SSOIdentity" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="TenantData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="tenant" type="xsd:string"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SSOPasswordResetData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="NewSSODigest" type="xsd:string"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SSOPasswordResetLinkData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Identifier" type="xsd:string"/>
                    <xsd:element name="DeliveryMethod" type="xsd:string"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SSOPasswordResetLink">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="GUID" type="xsd:string"/>
                    <xsd:element name="URL" type="xsd:string"/>
                    <xsd:element name="Expiry" type="xsd:dateTime"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CustomerList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Customers" type="tns:Customer" maxOccurs="unbounded"/>
                    <xsd:element name="NumberOfCustomers" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CustomerRole">
        <xsd:sequence>
            <xsd:element name="RoleName" type="xsd:string"></xsd:element>
            <xsd:element name="OrganisationName" type="xsd:string"></xsd:element>
            <xsd:element name="CustomerName" type="xsd:string"></xsd:element>
            <xsd:element name="OrganisationId" type="xsd:int"></xsd:element>
            <xsd:element name="CustomerId" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- Organisations -->
    
    <xsd:complexType name="Organisation">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="OrganisationId" type="xsd:int"/>
                    <xsd:element name="OrganisationType" type="xsd:string"/>
                    <xsd:element name="OrganisationSubType" type="xsd:string"/>
                    <xsd:element name="OrganisationName" type="xsd:string"/>
                    <xsd:element name="OrganisationStatus" type="xsd:string"/>
                    <xsd:element name="CreatedDateTime" type="xsd:dateTime"/>
                    <xsd:element name="Version" type="xsd:int"/>
                    <xsd:element name="Addresses" type="tns:Address" maxOccurs="unbounded"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element name="AlternativeContact1" type="xsd:string"/>
                    <xsd:element name="AlternativeContact2" type="xsd:string"/>
                    <xsd:element name="Industry" type="xsd:string"/>
                    <xsd:element name="Size" type="xsd:string"/>
                    <xsd:element name="KycStatus" type="xsd:string"/>
                    <xsd:element name="KycComment" type="xsd:string"/>
                    <xsd:element name="TaxNumber" type="xsd:string"/>
                    <xsd:element name="CompanyNumber" type="xsd:string"/>
                    <xsd:element name="CreditAccountNumber" type="xsd:string"/>
                    <xsd:element name="ChannelCode" type="xsd:string"/>
                    <xsd:element name="ModificationRoles" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="OrganisationPhotographs" type="tns:Photograph" maxOccurs="unbounded"/>
                    <xsd:element name="AccountManagerCustomerProfileId" type="xsd:int"/>
                    <xsd:element name="CustomerRoles" type="tns:CustomerRole" maxOccurs="unbounded"/>
                    <xsd:element name="OrganisationSellers" type="xsd:int"  maxOccurs="unbounded"/>
                    <xsd:element name="CreatedByCustomerProfileId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="OrganisationList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Organisations" type="tns:Organisation" maxOccurs="unbounded"/>
                    <xsd:element name="NumberOfOrganisations" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="OrganisationQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="OrganisationId" type="xsd:int"/>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="OrganisationName" type="xsd:string"/>
                    <xsd:element name="ResultLimit" type="xsd:int"/>
                    <xsd:element name="RolesResultLimit" type="xsd:int"/>
                    <xsd:element name="RolesOffset" type="xsd:int"/>
                    <xsd:element name="Verbosity" type="xsd:string"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <!-- Address -->
    <xsd:complexType name="Address">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="AddressId" type="xsd:int"/>
                    <xsd:element name="Line1" type="xsd:string"/>
                    <xsd:element name="Line2" type="xsd:string"/>
                    <xsd:element name="Zone" type="xsd:string"/>
                    <xsd:element name="Town" type="xsd:string"/>
                    <xsd:element name="State" type="xsd:string"/>
                    <xsd:element name="Country" type="xsd:string"/>
                    <xsd:element name="Code" type="xsd:string"/>
                    <xsd:element name="Type" type="xsd:string"/>
                    <xsd:element name="PostalMatchesPhysical" type="xsd:boolean"/>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="OrganisationId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
   <xsd:complexType name="VerifyDefacedCustomerRequest">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="nin" type="xsd:string"/>
                    <xsd:element name="questionCode" type="xsd:string" />
                    <xsd:element name="answer" type="xsd:string" />
                    <xsd:element name="questionEnglish" type="xsd:string" />
                    <xsd:element name="questionSwahili" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="MandatoryKYCFields">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="titleVerified" type="xsd:string"/>
                    <xsd:element name="nameVerified" type="xsd:string" />
                    <xsd:element name="mobileVerified" type="xsd:string" />
                    <xsd:element name="emailVerified" type="xsd:string" />
                    <xsd:element name="genderVerified" type="xsd:string" />
                    <xsd:element name="dobVerified" type="xsd:string"/>
                    <xsd:element name="nationalityVerified" type="xsd:string" />
                    <xsd:element name="physicalAddressVerified" type="xsd:string" />
                    <xsd:element name="facialPitureVerified" type="xsd:string" />
                    <xsd:element name="validIdCardVerified" type="xsd:string" />
                    <xsd:element name="fingerPrintVerified" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
     <xsd:complexType name="CustomerNinData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="NinDataId" type="xsd:int"/>
                    <xsd:element name="CustomerProfileId" type="xsd:int"/>
                    <xsd:element name="NinVerificationTrackingId" type="xsd:string" />
                    <xsd:element name="NinVerificationType" type="xsd:string" />
                    <xsd:element name="NinVerifiedDate" type="xsd:string" />
                    <xsd:element name="NinResponseStatus" type="xsd:string" /> 
                    <xsd:element name="NinCollectionDate" type="xsd:string" />                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="OrganisationLegalContact">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="legalContactId" type="xsd:int"/>
                    <xsd:element name="organisationId" type="xsd:int"/>
                    <xsd:element name="nin" type="xsd:string"/>
                    <xsd:element name="legalContactType" type="xsd:string" />
                    <xsd:element name="firstName" type="xsd:string" />
                    <xsd:element name="lastName" type="xsd:string" />
                    <xsd:element name="iccid" type="xsd:string" />
                    <xsd:element name="telNumber" type="xsd:string" />
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="isNinVerified" type="xsd:string" />
                    <xsd:element name="isKycVerified" type="xsd:string" />
                    <xsd:element name="fileType" type="xsd:string" />                    
                    <xsd:element name="photoData" type="xsd:string" />
                    <xsd:element name="createdDate" type="xsd:string" />
                    <xsd:element name="CustomerPhotographs" type="tns:Photograph" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ProductsKycVerification">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="kycId" type="xsd:int"/>
                    <xsd:element name="customerId" type="xsd:int"/>
                    <xsd:element name="nin" type="xsd:string" />
                    <xsd:element name="createdDate" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="verifiedBy" type="xsd:string" /> 
                    <xsd:element name="verificationDate" type="xsd:string" />                    
                    <xsd:element name="salesPerson" type="xsd:string" />                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:element name="ProductsKycVerification" type="tns:ProductsKycVerification"/>
    <xsd:element name="CustomerNinData" type="tns:CustomerNinData"/>
    <xsd:element name="OrganisationLegalContact" type="tns:OrganisationLegalContact"/>
    <xsd:element name="MandatoryKYCFields" type="tns:MandatoryKYCFields"/>
    <xsd:element name="VerifyDefacedCustomerRequest" type="tns:VerifyDefacedCustomerRequest"/>
    <xsd:element name="TenantQuery" type="tns:TenantQuery"/>
    <xsd:element name="TenantData" type="tns:TenantData"/>
    <xsd:element name="CustomerQuery" type="tns:CustomerQuery"/>
    <xsd:element name="OrganisationQuery" type="tns:OrganisationQuery"/>
    <xsd:element name="SSOPasswordResetLink" type="tns:SSOPasswordResetLink"/>
    <xsd:element name="SSOPasswordResetLinkData" type="tns:SSOPasswordResetLinkData"/>
    <xsd:element name="SSOPasswordResetData" type="tns:SSOPasswordResetData"/>
    <xsd:element name="Customer" type="tns:Customer"/>
    <xsd:element name="Organisation" type="tns:Organisation"/>
    <xsd:element name="CustomerId" type="tns:PlatformInteger"/>
    <xsd:element name="OrganisationId" type="tns:PlatformInteger"/>
    <xsd:element name="NewAddress" type="tns:Address"/>
    <xsd:element name="ModifiedAddress" type="tns:Address"/>
    <xsd:element name="AddressToDelete" type="tns:Address"/>
    <xsd:element name="NewCustomer" type="tns:Customer"/>
    <xsd:element name="ModifiedCustomer" type="tns:Customer"/>
    <xsd:element name="NewOrganisation" type="tns:Organisation"/>
    <xsd:element name="ModifiedOrganisation" type="tns:Organisation"/>
    <xsd:element name="CustomerList" type="tns:CustomerList"/>
    <xsd:element name="OrganisationList" type="tns:OrganisationList"/>
    <xsd:element name="AuthenticationQuery" type="tns:AuthenticationQuery"/>
    <xsd:element name="AuthenticationResult" type="tns:AuthenticationResult"/>
    <xsd:element name="Photograph" type="tns:Photograph"/>
    <xsd:element name="PhotoGuid" type="tns:PlatformString"/>
    
    
    
    
    
    <!--
    **********************************************
                       HSS FUNCTIONALITY
    **********************************************
    -->
    
    <!-- IMSU -->
    <xsd:complexType name="IMSSubscription">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSSubscriptionId" type="xsd:int"></xsd:element>
                    <xsd:element name="Version" type="xsd:int"></xsd:element>
                    <xsd:element name="CapabilitiesSetId" type="xsd:int"></xsd:element>
                    <xsd:element name="PreferredSCSCFSetId" type="xsd:int"></xsd:element>
                    <xsd:element name="SCSCFName" type="xsd:string"></xsd:element>
                    <xsd:element name="DiameterName" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSPrivateIdentities" type="tns:IMSPrivateIdentity" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="PreferredSCSCFs" type="xsd:string" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="IMSSubscriptionQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSSubscriptionId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPrivateIdentity" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSPublicIdentity" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSPublicIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPrivateIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="ImplicitSetId" type="xsd:int"></xsd:element>
                    <xsd:element name="IntegratedCircuitCardIdentifier" type="xsd:string"></xsd:element>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"></xsd:element>
                    <xsd:element name="Verbosity" type="tns:stIMSSubscriptionLookupVerbosity"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="stIMSSubscriptionLookupVerbosity">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="IMSU"/>
            <xsd:enumeration value="IMSU_IMPI"/>
            <xsd:enumeration value="IMSU_IMPI_IMPU"/>
            <xsd:enumeration value="IMSU_IMPI_IMPU_UD"/>
            <xsd:enumeration value="IMSU_IMPI_IMPU_BESTEFFORT"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="NewIMSSubscription" type="tns:IMSSubscription"></xsd:element>
    <xsd:element name="DeleteIMSSubscriptionRequest" type="tns:IMSSubscription"></xsd:element>
    <xsd:element name="IMSSubscription" type="tns:IMSSubscription"></xsd:element>
    <xsd:element name="IMSSubscriptionQuery" type="tns:IMSSubscriptionQuery"></xsd:element>

    <!-- IMPI -->
    <xsd:complexType name="IMSPrivateIdentity">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSPrivateIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="Identity" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSSubscriptionId" type="xsd:int"></xsd:element>
                    <xsd:element name="IntegratedCircuitCardIdentifier" type="xsd:string"></xsd:element>
                    <xsd:element name="AuthScheme" type="xsd:int"></xsd:element>
                    <xsd:element name="DefaultAuthScheme" type="xsd:int"></xsd:element>
                    <xsd:element name="EncryptedSecretKey" type="xsd:string"></xsd:element>
                    <xsd:element name="EncryptedPublicKey" type="xsd:string"></xsd:element>
                    <xsd:element name="EncryptedOperatorVariant" type="xsd:string"></xsd:element>
                    <xsd:element name="AuthenticationManagementField" type="xsd:string"></xsd:element>
                    <xsd:element name="Sequence" type="xsd:string"></xsd:element>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"></xsd:element>
                    <xsd:element name="SIMLockedIMEIList" type="xsd:string"></xsd:element>
                    <xsd:element name="Info" type="xsd:string"></xsd:element>
                    <xsd:element name="RegionalSubscriptionZoneCodes" type="xsd:string"></xsd:element>
                    <xsd:element name="ImplicitIMSPublicIdentitySets" type="tns:ImplicitIMSPublicIdentitySet" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="APNList" type="tns:APN" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="NewIMSPrivateIdentity" type="tns:IMSPrivateIdentity"></xsd:element>
    <xsd:element name="DeleteIMSPrivateIdentityRequest" type="tns:IMSPrivateIdentity"></xsd:element>
    <xsd:element name="IMSPrivateIdentity" type="tns:IMSPrivateIdentity"></xsd:element>
    <xsd:element name="ModifiedIMSPrivateIdentity" type="tns:IMSPrivateIdentity"></xsd:element>
    
    <xsd:complexType name="APN">
        <xsd:sequence>
            <xsd:element name="APNName" type="xsd:string"></xsd:element>
            <xsd:element name="IPv4Address" type="xsd:string"></xsd:element>
            <xsd:element name="IPv6Address" type="xsd:string"></xsd:element>
            <xsd:element name="Type" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="IMSPrivateIdentityQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Identity" type="xsd:string"/>
                    <xsd:element name="IntegratedCircuitCardIdentifier" type="xsd:string"/>
                    <xsd:element name="IMSPrivateIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"/>
                    <xsd:element name="IMSPublicIdentity" type="xsd:string"/>
                    <xsd:element name="IPv4Address" type="xsd:string"></xsd:element>
                    <xsd:element name="IPv6Address" type="xsd:string"></xsd:element>
                    <xsd:element name="SIMLockedIMEIList" type="xsd:string"></xsd:element>
                    <xsd:element name="RegionalSubscriptionZoneCodes" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceActivationData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ActivationCode" type="xsd:string"/>
                    <xsd:element name="IMSSubscription" type="tns:IMSSubscription"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="IMSPublicIdentityQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Identity" type="xsd:string"/>
                    <xsd:element name="IMSPublicIdentityId" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="IMSPublicIdentityQuery" type="tns:IMSPublicIdentityQuery"></xsd:element>
    <xsd:element name="IMSPrivateIdentityQuery" type="tns:IMSPrivateIdentityQuery"></xsd:element>
    <xsd:element name="ServiceActivationDataQuery" type="tns:IMSSubscriptionQuery"></xsd:element>
    <xsd:element name="ServiceActivationData" type="tns:ServiceActivationData"></xsd:element>

    <!-- Implicit Set -->
    <xsd:complexType name="ImplicitIMSPublicIdentitySet">
        <xsd:sequence>
            <xsd:element name="ImplicitSetId" type="xsd:int"></xsd:element>
            <xsd:element name="UserData" type="xsd:string"></xsd:element>
            <xsd:element name="AssociatedIMSPublicIdentities" type="tns:IMSNestedIdentityAssociation" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- IMPU -->
    <xsd:complexType name="IMSPublicIdentity">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSPublicIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="Type" type="xsd:int"></xsd:element>
                    <xsd:element name="Identity" type="xsd:string"></xsd:element>
                    <xsd:element name="Barring" type="xsd:int"></xsd:element>
                    <xsd:element name="UserState" type="xsd:int"></xsd:element>
                    <xsd:element name="CanRegister" type="xsd:int"></xsd:element>
                    <xsd:element name="ImplicitSetId" type="xsd:int"></xsd:element>
                    <xsd:element name="DisplayName" type="xsd:string"></xsd:element>
                    <xsd:element name="PSIActivation" type="xsd:int"></xsd:element>
                    <xsd:element name="WildcardPSI" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSServiceProfile" type="tns:IMSServiceProfile"></xsd:element>
                    <xsd:element name="IMSChargingInformation" type="tns:IMSChargingInformation"></xsd:element>
                    <xsd:element name="AllowedNetworks" type="xsd:string" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>    
    <xsd:complexType name="IMSServiceProfile">
        <xsd:sequence>
            <xsd:element name="IMSServiceProfileId" type="xsd:int"></xsd:element>
            <xsd:element name="Name" type="xsd:string"></xsd:element>
            <xsd:element name="UnregisteredServicesCount" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IMSChargingInformation">
        <xsd:sequence>
            <xsd:element name="IMSChargingInformationId" type="xsd:int"></xsd:element>
            <xsd:element name="Name" type="xsd:string"></xsd:element>
            <xsd:element name="PrimaryECF" type="xsd:string"></xsd:element>
            <xsd:element name="SecondaryECF" type="xsd:string"></xsd:element>
            <xsd:element name="PrimaryCCF" type="xsd:string"></xsd:element>
            <xsd:element name="SecondaryCCF" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NewIMSPublicIdentity" type="tns:IMSPublicIdentity"></xsd:element>    
    <xsd:element name="DeleteIMSPublicIdentityRequest" type="tns:IMSPublicIdentity"></xsd:element>
    <xsd:element name="ModifiedIMSPublicIdentity" type="tns:IMSPublicIdentity"></xsd:element>
    <xsd:element name="IMSPublicIdentity" type="tns:IMSPublicIdentity"></xsd:element>
    

    <!-- Identity Association -->
    <xsd:complexType name="IMSSimpleIdentityAssociation">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSSimpleIdentityAssociationId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPrivateIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPublicIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="UserState" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="NewIdentityAssociation" type="tns:IMSSimpleIdentityAssociation"></xsd:element>
    <xsd:element name="DeleteIdentityAssociationRequest" type="tns:IMSSimpleIdentityAssociation"></xsd:element>

    <xsd:complexType name="IMSNestedIdentityAssociation">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSNestedIdentityAssociationId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPrivateIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="IMSPublicIdentity" type="tns:IMSPublicIdentity"></xsd:element>
                    <xsd:element name="UserState" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    
    
    
    <xsd:complexType name="SIMSwapRequest">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="OldIntegratedCircuitCardIdentifier" type="xsd:string"></xsd:element>
                    <xsd:element name="NewIntegratedCircuitCardIdentifier" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="SIMSwapRequest" type="tns:SIMSwapRequest"></xsd:element>
    
    <xsd:complexType name="IMSSubscriptionStatusUpdateData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IMSSubscriptionId" type="xsd:int"></xsd:element>
                    <xsd:element name="Version" type="xsd:int"></xsd:element>
                    <xsd:element name="NewSCSCFName" type="xsd:string"></xsd:element>
                    <xsd:element name="NewDiameterName" type="xsd:string"></xsd:element>
                    <xsd:element name="IMSIdentityChanges" type="tns:IMSIdentityChange" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IMSIdentityChange">
        <xsd:sequence>
            <xsd:element name="IdentityType" type="xsd:string"></xsd:element>
            <xsd:element name="IdentityId" type="xsd:string"></xsd:element>
            <xsd:element name="IdentityField" type="xsd:string"></xsd:element>
            <xsd:element name="NewValue" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="IMSSubscriptionStatusUpdateData" type="tns:IMSSubscriptionStatusUpdateData"></xsd:element>
    
    <!-- UICC Details -->
    <xsd:complexType name="UICCDetailsQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IntegratedCircuitCardIdentifier" type="xsd:string"/>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"/>
                    <xsd:element name="Identity" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="UICCDetailsQuery" type="tns:UICCDetailsQuery"></xsd:element>
    
    <xsd:complexType name="UICCDetails">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ICCID" type="xsd:string"></xsd:element>
                    <xsd:element name="PIN1" type="xsd:string"></xsd:element>
                    <xsd:element name="PUK1" type="xsd:string"></xsd:element>
                    <xsd:element name="PIN2" type="xsd:string"></xsd:element>
                    <xsd:element name="PUK2" type="xsd:string"></xsd:element>
                    <xsd:element name="ADM1" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="UICCDetails" type="tns:UICCDetails"></xsd:element>
    
    <!-- WLAN SVC -->
    <xsd:complexType name="NAIIdentity">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="NAIIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="NAIUsername" type="xsd:string"></xsd:element>
                    <xsd:element name="NAIPassword" type="xsd:string"></xsd:element>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"></xsd:element>
                    <xsd:element name="Info" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="NewNAIIdentity" type="tns:NAIIdentity"></xsd:element>
    <xsd:element name="DeleteNAIIdentityRequest" type="tns:NAIIdentity"></xsd:element>
    <xsd:element name="NAIIdentity" type="tns:NAIIdentity"></xsd:element>
    <xsd:element name="ModifiedNAIIdentity" type="tns:NAIIdentity"></xsd:element>
    
    <xsd:complexType name="NAIIdentityQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="NAIUsername" type="xsd:string"/>
                    <xsd:element name="NAIIdentityId" type="xsd:int"></xsd:element>
                    <xsd:element name="OSSBSSReferenceId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="NAIIdentityQuery" type="tns:NAIIdentityQuery"></xsd:element>
    
    <!--
    #################################################
         Third Party Management ( - B2B - )
    #################################################
    -->

    <xsd:element name="ThirdPartyId" type="tns:PlatformInteger"></xsd:element>
    
    <xsd:complexType name="ThirdPartyAuthorisationRuleSet">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="RuleSetId" type="xsd:int"/>
                    <xsd:element name="ThirdPartyAuthorisationRules" type="tns:ThirdPartyAuthorisationRule" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ThirdPartyAuthorisationRuleSet" type="tns:ThirdPartyAuthorisationRuleSet"></xsd:element>
    
    <xsd:complexType name="ThirdPartyAuthorisationRule">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="RuleId" type="xsd:int"/>
                    <xsd:element name="XQuery" type="xsd:string"/>
                    <xsd:element name="RegexMatch" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ThirdPartyAuthorisationRuleSetList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ThirdPartyId" type="xsd:int"/>
                    <xsd:element name="ThirdPartyAuthorisationRuleSets" type="tns:ThirdPartyAuthorisationRuleSet" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ThirdPartyAuthorisationRule" type="tns:ThirdPartyAuthorisationRule"></xsd:element>
    <xsd:element name="ThirdPartyAuthorisationRuleSetList" type="tns:ThirdPartyAuthorisationRuleSetList"></xsd:element>
    
    <xsd:complexType name="NiraVerifyQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IdentityNumber" type="xsd:string"/>
                    <xsd:element name="CardNumber" type="xsd:string"/>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="FirstName" type="xsd:string"/>
                    <xsd:element name="OtherNames" type="xsd:string"/>
                    <xsd:element name="DateOfBirth" type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NiraVerifyReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:boolean"/>
                                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NidaVerifyQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IdentityNumber" type="xsd:string"/>
                    <xsd:element name="FingerprintB64" type="xsd:base64Binary"/>
                    <xsd:element name="EntityType" type="xsd:string"/>
                    <xsd:element name="EntityId" type="xsd:string"/>  
                    <xsd:element name="VerifiedBy" type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NidaVerifyReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Code"  type="xsd:string"/>
                    <xsd:element name="FirstName"  type="xsd:string"/>
                    <xsd:element name="MiddleName"  type="xsd:string"/>
                    <xsd:element name="LastName"  type="xsd:string"/>
                    <xsd:element name="OtherNames"  type="xsd:string"/>
                    <xsd:element name="Gender"  type="xsd:string"/>
                    <xsd:element name="DateOfBirth"  type="xsd:string"/>
                    <xsd:element name="PlaceOfBirth"  type="xsd:string"/>
                    <xsd:element name="ResidentRegion"  type="xsd:string"/>
                    <xsd:element name="ResidentDistrict"  type="xsd:string"/>
                    <xsd:element name="ResidentWard"  type="xsd:string"/>
                    <xsd:element name="ResidentVillage"  type="xsd:string"/>
                    <xsd:element name="ResidentStreet"  type="xsd:string"/>
                    <xsd:element name="ResidentHouseNo"  type="xsd:string"/>
                    <xsd:element name="ResidentPostalAddress"  type="xsd:string"/>
                    <xsd:element name="ResidentPostCode"  type="xsd:string"/>
                    <xsd:element name="BirthCountry"  type="xsd:string"/>
                    <xsd:element name="BirthRegion"  type="xsd:string"/>
                    <xsd:element name="BirthDistrict"  type="xsd:string"/>
                    <xsd:element name="BirthWard"  type="xsd:string"/>
                    <xsd:element name="BirthCertificateNo"  type="xsd:string"/>
                    <xsd:element name="Nationality"  type="xsd:string"/>
                    <xsd:element name="PhoneNumber"  type="xsd:string"/>
                    <xsd:element name="Photo"  type="xsd:string"/>
                    <xsd:element name="Signature"  type="xsd:string"/>
                    <xsd:element name="NIDATransactionId" type="xsd:string"/>
                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NiraPasswordChange">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="NewPassword" type="xsd:string"/>
                    <xsd:element name="SepUsername" type="xsd:string"/>                     
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NiraPasswordChangeReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="NiraResponse" type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="NiraPasswordChange" type="tns:NiraPasswordChange"></xsd:element>
    <xsd:element name="NiraPasswordChangeReply" type="tns:NiraPasswordChangeReply"></xsd:element>
    <xsd:element name="NiraVerifyQuery" type="tns:NiraVerifyQuery"></xsd:element>
    <xsd:element name="NiraVerifyReply" type="tns:NiraVerifyReply"></xsd:element>
    <xsd:element name="NidaVerifyQuery" type="tns:NidaVerifyQuery"></xsd:element>
    <xsd:element name="NidaVerifyReply" type="tns:NidaVerifyReply"></xsd:element>
    
    <xsd:complexType name="DocumentUniquenessQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="DocumentHash" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="DocumentUniquenessReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="IsUnique" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="DocumentUniquenessQuery" type="tns:DocumentUniquenessQuery"></xsd:element>
    <xsd:element name="DocumentUniquenessReply" type="tns:DocumentUniquenessReply"></xsd:element>
    
    <xsd:complexType name="VerifyForeignerQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="DocumentNo" type="xsd:string"/>
                    <xsd:element name="CountryCode" type="xsd:string"/>
                    <xsd:element name="FingerprintB64" type="xsd:base64Binary"/>
                    <xsd:element name="EntityType" type="xsd:string"/>
                    <xsd:element name="EntityId" type="xsd:string"/>  
                    <xsd:element name="VerifiedBy" type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyForeignerQuery" type="tns:VerifyForeignerQuery"></xsd:element>
    
    <xsd:complexType name="VerifyForeignerReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Status"  type="xsd:string"/>
                    <xsd:element name="Message"  type="xsd:string"/>
                    <xsd:element name="DateOfBirth"  type="xsd:string"/>
                    <xsd:element name="EntryDocExpiryDate"  type="xsd:string"/>
                    <xsd:element name="EntryDocNumber"  type="xsd:string"/>
                    <xsd:element name="GivenName"  type="xsd:string"/>
                    <xsd:element name="Nationality"  type="xsd:string"/>
                    <xsd:element name="PassportExpiryDate"  type="xsd:string"/>
                    <xsd:element name="PassportNo"  type="xsd:string"/>
                    <xsd:element name="Photo"  type="xsd:string"/>
                    <xsd:element name="ResidentDistrict"  type="xsd:string"/>
                    <xsd:element name="ResidentRegion"  type="xsd:string"/>
                    <xsd:element name="ResidentWard"  type="xsd:string"/>
                    <xsd:element name="Sex"  type="xsd:string"/>
                    <xsd:element name="Signature"  type="xsd:string"/>
                    <xsd:element name="Surname"  type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyForeignerReply" type="tns:VerifyForeignerReply"></xsd:element>
    
    <xsd:complexType name="VerifyDefacedQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="nin" type="xsd:string"/>
                    <xsd:element name="questionCode" type="xsd:string"/>
                    <xsd:element name="answer" type="xsd:string"/>
                    <xsd:element name="verifiedBy" type="xsd:string"/>
                    <xsd:element name="entityType" type="xsd:string"/>
                    <xsd:element name="entityId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyDefacedQuery" type="tns:VerifyDefacedQuery"></xsd:element>
    
    <xsd:complexType name="VerifyDefacedReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="id"  type="xsd:string"/>
                    <xsd:element name="code"  type="xsd:string"/>
                    <xsd:element name="questionCode"  type="xsd:string"/>
                    <xsd:element name="questionEnglish"  type="xsd:string"/>
                    <xsd:element name="questionSwahili"  type="xsd:string"/>
                    <xsd:element name="prevCode"  type="xsd:string"/>
                    <xsd:element name="firstName"  type="xsd:string"/>
                    <xsd:element name="middleName"  type="xsd:string"/>
                    <xsd:element name="lastName"  type="xsd:string"/>
                    <xsd:element name="otherNames"  type="xsd:string"/>
                    <xsd:element name="sex"  type="xsd:string"/>
                    <xsd:element name="dateOfBirth"  type="xsd:string"/>
                    <xsd:element name="placeOfBirth"  type="xsd:string"/>
                    <xsd:element name="residentRegion"  type="xsd:string"/>
                    <xsd:element name="residentDistrict"  type="xsd:string"/>
                    <xsd:element name="residentWard"  type="xsd:string"/>
                    <xsd:element name="residentVillage"  type="xsd:string"/>
                    <xsd:element name="residentStreet"  type="xsd:string"/>
                    <xsd:element name="residentHouseNo"  type="xsd:string"/>
                    <xsd:element name="residentPostalAddress"  type="xsd:string"/>
                    <xsd:element name="residentPostCode"  type="xsd:string"/>
                    <xsd:element name="birthCountry"  type="xsd:string"/>
                    <xsd:element name="birthRegion"  type="xsd:string"/>
                    <xsd:element name="birthDistrict"  type="xsd:string"/>
                    <xsd:element name="birthWard"  type="xsd:string"/>
                    <xsd:element name="birthCertificateNo"  type="xsd:string"/>
                    <xsd:element name="nationality"  type="xsd:string"/>
                    <xsd:element name="phoneNumber"  type="xsd:string"/>
                    <xsd:element name="signature"  type="xsd:string"/>
                    <xsd:element name="photo"  type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyDefacedReply" type="tns:VerifyDefacedReply"></xsd:element>
    
      <xsd:complexType name="VerifyNinQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Nin" type="xsd:string"/>
                    <xsd:element name="FingerStringInBase64" type="xsd:base64Binary"/>
                    <xsd:element name="Surname" type="xsd:string"/>
                    <xsd:element name="FirstName" type="xsd:string"/>  
                    <xsd:element name="LastName" type="xsd:string"/>  
                    <xsd:element name="DocumentNo" type="xsd:string"/>
                    <xsd:element name="EntityType" type="xsd:string"/>
                    <xsd:element name="EntityId" type="xsd:string"/>  
                    <xsd:element name="VerifiedBy" type="xsd:string"/> 
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyNinQuery" type="tns:VerifyNinQuery"></xsd:element>
    
    <xsd:complexType name="VerifyNinResponseList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="VerifyNinReplys" type="tns:VerifyNinReply" maxOccurs="unbounded"/>
                    <xsd:element name="returnMessage"  type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyNinResponseList" type="tns:VerifyNinResponseList"></xsd:element>
    
    <xsd:complexType name="VerifyNinReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="batchid"  type="xsd:string"/>
                    <xsd:element name="birthcountry"  type="xsd:string"/>
                    <xsd:element name="birthdate"  type="xsd:string"/>
                    <xsd:element name="birthlga"  type="xsd:string"/>
                    <xsd:element name="birthstate"  type="xsd:string"/>
                    <xsd:element name="cardstatus"  type="xsd:string"/>
                    <xsd:element name="centralID"  type="xsd:string"/>
                    <xsd:element name="documentno"  type="xsd:string"/>
                    <xsd:element name="educationallevel"  type="xsd:string"/>
                    <xsd:element name="email"  type="xsd:string"/>
                    <xsd:element name="emplymentstatus"  type="xsd:string"/>
                    <xsd:element name="firstname"  type="xsd:string"/>
                    <xsd:element name="gender"  type="xsd:string"/>
                    <xsd:element name="heigth"  type="xsd:string"/>
                    <xsd:element name="maidenname"  type="xsd:string"/>
                    <xsd:element name="maritalstatus"  type="xsd:string"/>
                    <xsd:element name="middlename"  type="xsd:string"/>
                    <xsd:element name="nin"  type="xsd:string"/>
                    <xsd:element name="nokAddress1"  type="xsd:string"/>
                    <xsd:element name="nokAddress2"  type="xsd:string"/>
                    <xsd:element name="nokFirstname"  type="xsd:string"/>
                    <xsd:element name="nokLga"  type="xsd:string"/>
                    <xsd:element name="nokMiddlename"  type="xsd:string"/>
                    <xsd:element name="nokPostalcode"  type="xsd:string"/>
                    <xsd:element name="nokState"  type="xsd:string"/>
                    <xsd:element name="nokSurname"  type="xsd:string"/>
                    <xsd:element name="nokTown"  type="xsd:string"/>
                    <xsd:element name="nspokenlang"  type="xsd:string"/>
                    <xsd:element name="ospokenlang"  type="xsd:string"/>
                    <xsd:element name="othername"  type="xsd:string"/>
                    <xsd:element name="pfirstname"  type="xsd:string"/><xsd:element name="EntryDocNumber"  type="xsd:string"/>
                    <xsd:element name="photo"  type="xsd:string"/>
                    <xsd:element name="pmiddlename"  type="xsd:string"/>
                    <xsd:element name="profession"  type="xsd:string"/>
                    <xsd:element name="psurname"  type="xsd:string"/>
                    <xsd:element name="religion"  type="xsd:string"/>
                    <xsd:element name="residenceAdressLine1"  type="xsd:string"/>
                    <xsd:element name="residenceAdressLine2"  type="xsd:string"/>
                    <xsd:element name="residenceTown"  type="xsd:string"/>
                    <xsd:element name="residenceLga"  type="xsd:string"/>
                    <xsd:element name="residencePostalcode"  type="xsd:string"/>
                    <xsd:element name="residenceState"  type="xsd:string"/>  
                    <xsd:element name="residencestatus"  type="xsd:string"/>
                    <xsd:element name="selfOriginLga"  type="xsd:string"/>
                    <xsd:element name="selfOriginPlace"  type="xsd:string"/>
                    <xsd:element name="selfOriginState"  type="xsd:string"/>
                    <xsd:element name="signature"  type="xsd:string"/>
                    <xsd:element name="surname"  type="xsd:string"/>
                    <xsd:element name="telephoneno"  type="xsd:string"/>
                    <xsd:element name="title"  type="xsd:string"/>
                    <xsd:element name="trackingId"  type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VerifyNinReply" type="tns:VerifyNinReply"></xsd:element>
    
    <xsd:complexType name="ProductsKycVerificationQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:int"></xsd:element>
                    <xsd:element name="nin" type="xsd:string"></xsd:element>
                    <xsd:element name="createdDate" type="xsd:string"></xsd:element>                    
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                    <xsd:element name="verifiedBy" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ProductsKycVerificationQuery" type="tns:ProductsKycVerificationQuery"></xsd:element>
    
    <xsd:complexType name="ProductsKycVerificationResponseList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ProductsKycVerificationReplys" type="tns:ProductsKycVerificationReply" maxOccurs="unbounded"/>
                    <xsd:element name="returnMessage"  type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ProductsKycVerificationResponseList" type="tns:ProductsKycVerificationResponseList"></xsd:element>
    
    <xsd:complexType name="ProductsKycVerificationReply">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="kycId" type="xsd:int"></xsd:element>
                    <xsd:element name="customerId" type="xsd:int"></xsd:element>
                    <xsd:element name="nin" type="xsd:string"></xsd:element>
                    <xsd:element name="createdDate" type="xsd:string"></xsd:element>                    
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                    <xsd:element name="verifiedBy" type="xsd:string"></xsd:element>
                    <xsd:element name="verificationDate" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    <xsd:element name="ProductsKycVerificationReply" type="tns:ProductsKycVerificationReply"></xsd:element>
</xsd:schema>








