Portals/TPGW/src/main/resources/TPGWSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.smilecoms.com/schema/TPGW"
            xmlns:tns="http://xml.smilecoms.com/schema/TPGW"
            elementFormDefault="qualified">

    <xsd:complexType name="TPGWObject">
        <xsd:sequence>
            <xsd:element name="TPGWContext" type="tns:TPGWContext" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="TPGWContext">
        <xsd:sequence>
            <xsd:element name="SessionId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="TPGWError">
        <xsd:sequence>
            <xsd:element name="ErrorDesc" type="xsd:string"/>
            <xsd:element name="ErrorType" type="xsd:string"/>
            <xsd:element name="ErrorCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TPGWError" type="tns:TPGWError"/>
    
    <xsd:simpleType name="stDone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>
 
    <xsd:element name="IsUpRequest" type="xsd:string"/>
    
    <xsd:complexType name="Done">
        <xsd:sequence>
            <xsd:element name="Done" type="tns:stDone">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:element name="Done" type="tns:Done"/>
    
    <xsd:complexType name="Authenticate">
        <xsd:sequence>
            <xsd:element name="Username" type="xsd:string"/>
            <xsd:element name="Password" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Authenticate" type="tns:Authenticate"></xsd:element>

    <!--
    Element Name   : AuthenticationResult
    Description    : Returns the result of authentication a user into the system. If a user was
                     was successfully authenticated, a GUID is returned. The GUID must be passed in with all subsequent messages during the session.
                     The GUID expires after 30 minutes of no activity, the client must then renew their connection by issuing a new Authenticate request and thereby obtaining a new GUID.
    -->
    <xsd:complexType name="AuthenticateResult">
        <xsd:sequence>
            <xsd:element name="Done" type="tns:stDone" minOccurs="0"></xsd:element>
            <xsd:element name="SessionId" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AuthenticateResult" type="tns:AuthenticateResult"></xsd:element>

    <xsd:complexType name="TransactionStatusQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="UniqueTransactionId" type="xsd:string" />
                    <xsd:element name="SearchStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="SearchEndDate" type="xsd:dateTime" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>    
    </xsd:complexType>
    <xsd:element name="TransactionStatusQuery" type="tns:TransactionStatusQuery"/>
    
    <xsd:complexType name="TransactionStatusResult" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="TransactionStatus" type="xsd:string"/>
                    <xsd:element name="TransactionInfo" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="TransactionStatusResult" type="tns:TransactionStatusResult"/>
           
    <xsd:complexType name="BalanceQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AccountId" type="xsd:long" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>    
    </xsd:complexType>
    <xsd:element name="BalanceQuery" type="tns:BalanceQuery"/>
    
    <xsd:complexType name="BalanceResult" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AvailableBalanceInCents" type="xsd:double"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BalanceResult" type="tns:BalanceResult"/>
    
    <xsd:complexType name="BalanceTransfer" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="FromAccountId" type="xsd:long" />
                    <xsd:element name="ToAccountId" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="ToPhoneNumber" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="CustomerEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TransferAmountInCents" type="xsd:double" />
                    <xsd:element name="ChannelUsed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UniqueTransactionId" type="xsd:string"/> <!-- Mandatory transaction id field - must be supplied its used by Finance for reconciliation,
                                                                                                       we will make sure the transfer request is done only once,
                                                                                                       If transaction was processed already, we will send back a 
                                                                                                       success - Done = true response -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BalanceTransfer" type="tns:BalanceTransfer"/>
    
    <xsd:complexType name="BalanceTransferResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="TxId" type="xsd:string"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Done" type="tns:stDone"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BalanceTransferResult" type="tns:BalanceTransferResult"></xsd:element>
    
    <xsd:complexType name="ValidateAccountQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AccountId" type="xsd:long"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="ValidateAccountQuery" type="tns:ValidateAccountQuery"/>
    
    <xsd:complexType name="CustomerIdByAccountIdQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AccountId" type="xsd:long"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="CustomerIdByAccountIdQuery" type="tns:CustomerIdByAccountIdQuery"/>
    
    <xsd:complexType name="NinByAccountIdOrPhoneNumberQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AccountIdOrPhoneNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="NationalIdentityNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="NinByAccountIdOrPhoneNumberQuery" type="tns:NinByAccountIdOrPhoneNumberQuery"/>
    
    <xsd:complexType name="ValidatePhoneNumberQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="PhoneNumber" type="xsd:long"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="ValidatePhoneNumberQuery" type="tns:ValidatePhoneNumberQuery"/>
    
    <xsd:complexType name="ValidateEmailAddressQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="EmailAddress" type="xsd:string"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="ValidateEmailAddressQuery" type="tns:ValidateEmailAddressQuery"/>
    
    <xsd:simpleType name="stNonEmptyString">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="VoucherDetailQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="PIN" type="xsd:long"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="VoucherDetailQuery" type="tns:VoucherDetailQuery"/>
    
    <xsd:complexType name="VoucherDetailResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="PrepaidStripId" type="xsd:int"/>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="RedemptionAccountId" type="xsd:long"/>
                    <xsd:element name="RedemptionAccountHistoryId" type="xsd:long"/>
                    <xsd:element name="GeneratedDate" type="xsd:dateTime"/>
                    <xsd:element name="ExpiryDate" type="xsd:dateTime"/>
                    <xsd:element name="InvoiceData" type="xsd:string"/>
                    <xsd:element name="UnitCreditSpecificationId" type="xsd:int"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="PIN" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VoucherDetailResult" type="tns:VoucherDetailResult"/>
    
    <xsd:complexType name="RedemPrepaidStrip" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="RedeemedByAccountId" type="xsd:long"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="EncryptedPIN" type="xsd:string"/>   
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="RedemPrepaidStrip" type="tns:RedemPrepaidStrip"/>
    
    <xsd:complexType name="RedemPrepaidStripResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="PrepaidStripId" type="xsd:int"/>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="RedemptionAccountId" type="xsd:long"/>
                    <xsd:element name="RedemptionAccountHistoryId" type="xsd:long"/>
                    <xsd:element name="GeneratedDate" type="xsd:dateTime"/>
                    <xsd:element name="ExpiryDate" type="xsd:dateTime"/>
                    <xsd:element name="InvoiceData" type="xsd:string"/>
                    <xsd:element name="UnitCreditSpecificationId" type="xsd:int"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="PIN" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="RedemPrepaidStripResult" type="tns:RedemPrepaidStripResult"/>
    
    <xsd:complexType name="ValidateAccountResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="FirstName" type="tns:stNonEmptyString" />
                    <xsd:element name="MiddleName" type="xsd:string"/>
                    <xsd:element name="LastName" type="tns:stNonEmptyString"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ValidateAccountResult" type="tns:ValidateAccountResult"/>
    
    <xsd:complexType name="CustomerIdByAccountIdResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CustomerIdByAccountIdResult" type="tns:CustomerIdByAccountIdResult"/>
    
    <xsd:complexType name="NinByAccountIdOrPhoneNumberResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="NinByAccountIdOrPhoneNumberResult" type="tns:NinByAccountIdOrPhoneNumberResult"/>
 
    <xsd:complexType name="ValidatePhoneNumberResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="FirstName" type="tns:stNonEmptyString" />
                    <xsd:element name="MiddleName" type="xsd:string"/>
                    <xsd:element name="LastName" type="tns:stNonEmptyString"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ValidatePhoneNumberResult" type="tns:ValidatePhoneNumberResult"/>
    
    <xsd:complexType name="ValidateEmailAddressResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="FirstName" type="tns:stNonEmptyString" />
                    <xsd:element name="MiddleName" type="xsd:string"/>
                    <xsd:element name="LastName" type="tns:stNonEmptyString"/>
                    <xsd:element name="AccountList" type="tns:AccountList"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ValidateEmailAddressResult" type="tns:ValidateEmailAddressResult"/>
    
    <xsd:complexType name="AccountList">
        <xsd:sequence>
            <xsd:element name="Account" type="tns:Account" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="NumberOfAccounts" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Account">
        <xsd:sequence>
            <xsd:element name="AccountId" type="xsd:long"/>
            <xsd:element name="FriendlyName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="BundleCatalogueQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject"/>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BundleCatalogueQuery" type="tns:BundleCatalogueQuery"/>
    
    <xsd:complexType name="BundleCatalogueResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="BundleList" type="tns:BundleList"/>
                    <xsd:element name="NumberOfBundles" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="BundleCatalogueResult" type="tns:BundleCatalogueResult"/>
    
     
    
    <xsd:complexType name="BuyBundle" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="BundleTypeCode" type="xsd:int" />
                    <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="PhoneNumber" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="CustomerEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="QuantityBought" type="xsd:int" />
                    <xsd:element name="CustomerTenderedAmountInCents" type="xsd:double"/>
                    <xsd:element name="UniqueTransactionId" type="xsd:string"/>
                    <xsd:element name="ChannelUsed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BuyBundle" type="tns:BuyBundle"/>
    
    <xsd:complexType name="BuyBundleResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="Done" type="tns:stDone"></xsd:element>
                    <xsd:element name="TxId" type="xsd:string"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UniqueTransactionId" type="xsd:string" minOccurs="0"/> <!-- Optional transaction id field - if supplied,
                                                                                                       we will make sure the transfer request is done only once,
                                                                                                       If transaction was processed already, we will send back a 
                                                                                                       success - Done = true response -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="BuyBundleResult" type="tns:BuyBundleResult"/>
    
    <xsd:complexType name="BundleList">
        <xsd:sequence>
            <xsd:element name="Bundle" type="tns:Bundle" maxOccurs="unbounded"/>    
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Bundle">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="BundleTypeCode" type="xsd:int"/>
                    <xsd:element name="BundleDescription" type="xsd:string"/>
                    <xsd:element name="BundlePrice" type="xsd:double"/>
                    <xsd:element name="ValidityDays" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="BuyBundleUsingPriceInCentsData" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="SourceAccountId" type="xsd:long" />
                    <xsd:element name="CustomerAccountId" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="CustomerPhoneNumber" type="xsd:long" minOccurs="0" default="0"/>
                    <xsd:element name="CustomerEmailAddress" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BundlePriceInCents" type="xsd:double" />
                    <xsd:element name="ChannelUsed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="UniqueTransactionId" type="xsd:string"/> <!-- Mandatory transaction id field - must be supplied its used by Finance for reconciliation,
                                                                                                       we will make sure the transfer request is done only once,
                                                                                                       If transaction was processed already, we will send back a 
                                                                                                       success - Done = true response -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BuyBundleUsingPriceInCentsData" type="tns:BuyBundleUsingPriceInCentsData"/>
    
    <xsd:complexType name="BuyBundleUsingPriceInCentsResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="TxId" type="xsd:string"></xsd:element>
                    <xsd:element name="Hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Done" type="tns:stDone"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="BuyBundleUsingPriceInCentsResult" type="tns:BuyBundleUsingPriceInCentsResult"></xsd:element>
    
       
    <xsd:complexType name="Customer">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="FirstName" type="tns:stNonEmptyString" />
                    <xsd:element name="MiddleName" type="xsd:string"/>
                    <xsd:element name="LastName" type="tns:stNonEmptyString"/>
                    <xsd:element name="IdentityNumber" type="xsd:string"/>
                    <xsd:element name="IdentityNumberType" type="xsd:string"/>
                    <xsd:element name="Addresses" type="tns:Address" maxOccurs="unbounded"/>
                    <xsd:element name="DateOfBirth" type="xsd:string"/>
                    <xsd:element name="Gender" type="xsd:string"/>
                    <xsd:element name="Language" type="xsd:string"/>
                    <xsd:element name="EmailAddress" type="xsd:string"/>
                    <xsd:element name="AlternativeContact1" type="xsd:string"/>
                    <xsd:element name="AlternativeContact2" type="xsd:string"/>
                    <xsd:element name="MothersMaidenName" type="xsd:string"/>
                    <xsd:element name="Nationality" type="xsd:string"/>
                    <xsd:element name="PassportExpiryDate" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="Line1" type="xsd:string"/>
            <xsd:element name="Line2" type="xsd:string"/>
            <xsd:element name="Zone" type="xsd:string"/>
            <xsd:element name="Town" type="xsd:string"/>
            <xsd:element name="State" type="xsd:string"/> 
            <xsd:element name="Country" type="xsd:string"/>
            <xsd:element name="Code" type="xsd:string"/>
            <xsd:element name="Type" type="xsd:string"/>
            <xsd:element name="PostalMatchesPhysical" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="NewCustomer" type="tns:Customer"/>
    <xsd:element name="Customer" type="tns:Customer"/>
    
    <xsd:complexType name="AddCustomerResult">
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="CustomerProfileId" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent> 
    </xsd:complexType>
    <xsd:element name="AddCustomerResult" type="tns:AddCustomerResult"></xsd:element>
    
    <xsd:complexType name="ValidateReferenceIdQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="ReferenceId" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>    
    </xsd:complexType>
    <xsd:element name="ValidateReferenceIdQuery" type="tns:ValidateReferenceIdQuery"/>
    
    <xsd:complexType name="ValidateReferenceIdResult" >
        <xsd:complexContent>
            <xsd:extension base="tns:TPGWObject">
                <xsd:sequence>
                    <xsd:element name="AmountInCents" type="xsd:double" />   <!-- Set to the TotalAmount Including VAT -->
                    <xsd:element name="ValidationResult" type="xsd:string" /> <!-- Set to NOT_FOUND if no sale/cash_in was found with referenceid
                                                                                   Set to SUCCESS if record was found -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>    
    </xsd:complexType>
    <xsd:element name="ValidateReferenceIdResult" type="tns:ValidateReferenceIdResult"/>
    
</xsd:schema>
