Portals/MNP/src/main/resources/TZMNPxsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://np.systor.st/commontypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://np.systor.st/commontypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		</xsd:documentation>
	</xsd:annotation>
    <xsd:complexType name="Noop_Type"/>
  	<xsd:complexType name="NoopResponse_Type">
		<xsd:sequence>
		  	<xsd:element name="Alive" type="xsd:string" />
		</xsd:sequence>
  	</xsd:complexType>
	<xsd:complexType name="AccessFault_Type">
		<xsd:sequence>
			<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TechnicalFault_Type">
		<xsd:sequence>
			<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorNotification_Type">
		<xsd:sequence>
			<xsd:element name="NpcdbRejectReason" type="xsd:integer"/>
			<xsd:element name="NpcdbRejectMessage" type="xsd:string"/>
			<xsd:element name="NPOrderID" type="NpcdbID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="NpcdbID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Unique ID generated by the NPCDB
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:pattern value="[0-9]{14}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of telephone service (Mobile or Fixed)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mobile"/>
			<xsd:enumeration value="fixed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubscriptionType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of subscription
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="prepaid"/>
			<xsd:enumeration value="postpaid"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CustomerType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of customer
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="personal"/>
			<xsd:enumeration value="business"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CustomerIDType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of customer ID
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The phone number to be ported
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PhoneNumberRange">
		<xsd:sequence>
			<xsd:element name="PhoneNumberStart" type="PhoneNumber" />
			<xsd:element name="PhoneNumberEnd" type="PhoneNumber" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RoutingInfoList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="RoutingInfo" type="RoutingInfo" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RoutingInfo">
		<xsd:sequence>
			<xsd:element name="PhoneNumberRange" type="PhoneNumberRange" />
			<xsd:element name="RoutingNumber" type="RoutingNumber" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RoutingNumber">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PhoneNumberList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="PhoneNumberRange" type="PhoneNumberRange" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BlockOrderID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Unique ID assigned by the Recipient Operator to a Block order.
				Format: [provider ID][YYYY][8 digit sequence number]
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{14}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OperatorID">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The ID used by the NPCDB to identify the Donor Operator
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DonorReject">
		<xsd:sequence>
			<xsd:element name="DonorRejectReason" type="xsd:integer"/>
			<xsd:element name="DonorRejectMessage" type="xsd:string"/>
			<xsd:element name="RejectedPhoneNumberRange" type="PhoneNumberRange"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DonorRejectList">
		<xsd:sequence>
			<xsd:element name="DonorReject" type="DonorReject" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Money">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AutomaticAccept">
    	<xsd:annotation>
    		<xsd:documentation xml:lang="en">
				0 = No automatic accept (donor did respond)
				1 = Automatic accept (donor did not respond within T1)
			</xsd:documentation>
    	</xsd:annotation>
		<xsd:restriction base="xsd:integer">
    		<xsd:minInclusive value="0" />
    		<xsd:maxInclusive value="1" />
		</xsd:restriction>
    </xsd:simpleType>
	<xsd:simpleType name="HandleManually">
    	<xsd:annotation>
    		<xsd:documentation xml:lang="en">
				0 = No specific handling
				1 = Handle manually
			</xsd:documentation>
    	</xsd:annotation>
		<xsd:restriction base="xsd:integer">
    		<xsd:minInclusive value="0" />
    		<xsd:maxInclusive value="1" />
		</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
