SCA/SCA/src/BPEL/Partners/POS/POSSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.smilecoms.com/schema/POS"
            elementFormDefault="qualified" xmlns:tns="http://xml.smilecoms.com/schema/POS" >
    <xsd:complexType name="Done">
        <xsd:sequence>
            <xsd:element name="Done" type="tns:stDone">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="stDone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="PlatformObject">
        <xsd:sequence>
            <xsd:element name="PlatformContext" type="tns:PlatformContext" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PlatformContext">
        <xsd:sequence>
            <xsd:element name="TxId" type="xsd:string"/>
            <xsd:element name="OriginatingIdentity" type="xsd:string"/>
            <xsd:element name="OriginatingIP" type="xsd:string"/>
            <xsd:element name="Tenant" type="xsd:string"></xsd:element>
            <xsd:element name="Comment" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PlatformInteger" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Integer" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="POSError">
        <xsd:sequence>
            <xsd:element name="ErrorDesc" type="xsd:string">
            </xsd:element>
            <xsd:element name="ErrorType" type="xsd:string">
            </xsd:element>
            <xsd:element name="ErrorCode" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Done" type="tns:Done"/>
    <xsd:element name="IsUpRequest" type="xsd:string"/>
    <xsd:element name="POSError" type="tns:POSError"/>
    
    <xsd:complexType name="StripCountQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="InvoiceData" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="StripCountQuery" type="tns:StripCountQuery"/>
    <xsd:element name="StripCount" type="tns:PlatformInteger"/>
    
    
    <xsd:complexType name="InventoryQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="RecipientCustomerId" type="xsd:int"/>
                    <xsd:element name="RecipientOrganisationId" type="xsd:int"/>
                    <xsd:element name="RecipientAccountId" type="xsd:long"/>
                    <xsd:element name="WarehouseId" type="xsd:string"/>
                    <xsd:element name="StringMatch" type="xsd:string"/>
                    <xsd:element name="Currency" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PromotionCodeApprovalData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:int"/>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="Hash" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    <xsd:complexType name="Sale">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int" />
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="SalesPersonAccountId" type="xsd:long"/>
                    <xsd:element name="RecipientCustomerId" type="xsd:int"/>
                    <xsd:element name="FreelancerCustomerId" type="xsd:long"/>
                    <xsd:element name="RecipientAccountId" type="xsd:long"/>
                    <xsd:element name="SaleDate" type="xsd:dateTime"/>
                    <xsd:element name="LastModifiedDate" type="xsd:dateTime"/>
                    <xsd:element name="ExpiryDate" type="xsd:dateTime"/>
                    <xsd:element name="CashInDate" type="xsd:dateTime"/>
                    <xsd:element name="SaleTotalCentsIncl" type="xsd:double"/>
                    <xsd:element name="SaleTotalTaxCents" type="xsd:double"/>
                    <xsd:element name="SaleTotalCentsExcl" type="xsd:double"/>
                    <xsd:element name="ExtTxId" type="xsd:string" />
                    <xsd:element name="UniqueId" type="xsd:string" />
                    <xsd:element name="RecipientOrganisationId" type="xsd:int"/>
                    <xsd:element name="SaleLines" type="tns:SaleLine" maxOccurs="unbounded"/>
                    <xsd:element name="SaleTotalDiscountOnInclCents" type="xsd:double"/>
                    <xsd:element name="SaleTotalDiscountOnExclCents" type="xsd:double"/>
                    <xsd:element name="AmountTenderedCents" type="xsd:double"/>
                    <xsd:element name="ChangeCents" type="xsd:double"/>
                    <xsd:element name="TenderedCurrency" type="xsd:string"/>
                    <xsd:element name="TenderedCurrencyExchangeRate" type="xsd:double"/> <!-- the number of units of tendered currency per local currency unit -->
                    <xsd:element name="PaymentMethod" type="xsd:string"/>
                    <xsd:element name="PaymentTransactionData" type="xsd:string"/>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="SaleLocation" type="xsd:string"/>
                    <xsd:element name="TillId" type="xsd:string"/>
                    <xsd:element name="Channel" type="xsd:string"/>
                    <xsd:element name="OrganisationChannel" type="xsd:string"/>
                    <xsd:element name="WarehouseId" type="xsd:string"/>
                    <xsd:element name="PromotionCode" type="xsd:string"/>
                    <!-- These fields are for when we don't have the customer/organisation on record -->
                    <xsd:element name="RecipientName" type="xsd:string"/>
                    <xsd:element name="OrganisationName" type="xsd:string"/>
                    <xsd:element name="RecipientPhoneNumber" type="xsd:string"/>
                    <xsd:element name="PurchaseOrderData" type="xsd:string"/>
                    <xsd:element name="InvoicePDFBase64" type="xsd:string"/>
                    <xsd:element name="SmallInvoicePDFBase64" type="xsd:string"/>
                    <xsd:element name="ReversalPDFBase64" type="xsd:string"/>
                    <xsd:element name="CreditAccountNumber" type="xsd:string"/>
                    <xsd:element name="ExtraInfo" type="xsd:string"/>
                    <xsd:element name="TaxExempt" type="xsd:boolean"/>
                    <xsd:element name="WithholdingTaxCents" type="xsd:double"/>
                    <xsd:element name="WithholdingTaxRate" type="xsd:double"/>
                    <xsd:element name="TotalLessWithholdingTaxCents" type="xsd:double"/>
                    <xsd:element name="FinanceData" type="xsd:string"/>
                    <xsd:element name="IgnoreDuplicateSale" type="xsd:boolean"/>
                    <xsd:element name="FulfilmentScheduleInfo" type="xsd:string"/>
                    <xsd:element name="ContractSaleId" type="xsd:int"/>
                    <xsd:element name="ContractId" type="xsd:int"/>
                    <xsd:element name="FulfilmentLastCheckDateTime" type="xsd:dateTime"/>
                    <xsd:element name="FulfilmentPausedTillDateTime" type="xsd:dateTime"/>
                    <!-- Payment gateway functionality -->
                    <xsd:element name="PaymentGatewayCode" type="xsd:string"/>
                    <xsd:element name="PaymentGatewayPollCount" type="xsd:int"/>
                    <xsd:element name="PaymentGatewayLastPollDate" type="xsd:dateTime"/>
                    <xsd:element name="PaymentGatewayNextPollDate" type="xsd:dateTime"/>
                    <xsd:element name="PaymentGatewayResponse" type="xsd:string"/>
                    <xsd:element name="PaymentGatewayExtraData" type="xsd:string"/>
                    <xsd:element name="CallbackURL" type="xsd:string"/>
                    <xsd:element name="LandingURL" type="xsd:string"/>
                    <xsd:element name="PaymentGatewayURL" type="xsd:string"/>
                    <xsd:element name="PaymentGatewayURLData" type="xsd:string"/>
                    <xsd:element name="TransactionFeeCents" type="xsd:double"/>
                    <xsd:element name="DeliveryFeeCents" type="xsd:double"/>
                    <xsd:element name="TransactionFeeModel" type="xsd:string"/>
                    <xsd:element name="DeliveryFeeModel" type="xsd:string"/>
                    <xsd:element name="GpsCoordinates" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SaleLine">
        <xsd:sequence>
            <xsd:element name="LineId" type="xsd:int"/>
            <xsd:element name="ParentLineId" type="xsd:int"/>
            <xsd:element name="LineNumber" type="xsd:int"/>
            <xsd:element name="InventoryItem" type="tns:InventoryItem"/>
            <xsd:element name="Quantity" type="xsd:long"/>
            <xsd:element name="LineTotalDiscountOnInclCents" type="xsd:double"/>
            <xsd:element name="LineTotalDiscountOnExclCents" type="xsd:double"/>
            <xsd:element name="LineTotalCentsExcl" type="xsd:double"/>
            <xsd:element name="LineTotalCentsIncl" type="xsd:double"/>
            <xsd:element name="ProvisioningData" type="xsd:string"/>
            <xsd:element name="Comment" type="xsd:string"/>
            <xsd:element name="SubSaleLines" type="tns:SaleLine" maxOccurs="unbounded"/>
            <xsd:element name="Returns" type="tns:Return" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Return">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ReturnId" type="xsd:int"/>
                    <xsd:element name="CreatedByCustomerId" type="xsd:int"/>
                    <xsd:element name="CreatedDate" type="xsd:dateTime"/>
                    <xsd:element name="Location" type="xsd:string"/>
                    <xsd:element name="SaleLineId" type="xsd:int"/>
                    <xsd:element name="ParentReturnId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ReasonCode" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="ReturnedSerialNumber" type="xsd:string"/>
                    <xsd:element name="ReturnedItemNumber" type="xsd:string"/>
                    <xsd:element name="Quantity" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="ReplacementItem" type="tns:InventoryItem"/>
                    <xsd:element name="ReturnReplacementPDFBase64" type="xsd:string"  minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="UpSizeInventoryQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="MainBundleItemNumber" type="xsd:string"/>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="RecipientCustomerId" type="xsd:int"/>
                    <xsd:element name="RecipientOrganisationId" type="xsd:int"/>
                    <xsd:element name="RecipientAccountId" type="xsd:long"/>
                    <xsd:element name="WarehouseId" type="xsd:string"/>
                    <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="UpSizeInventoryQuery" type="tns:UpSizeInventoryQuery"/>

    

    <xsd:complexType name="InventoryList">
        <xsd:sequence>
            <xsd:element name="InventoryItems" type="tns:InventoryItem" maxOccurs="unbounded"/>
            <xsd:element name="NumberOfInventoryItems" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="InventoryItem">
        <xsd:sequence>
            <xsd:element name="SerialNumber" type="xsd:string"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="PriceInCentsExcl" type="xsd:double"/>
            <xsd:element name="PriceInCentsIncl" type="xsd:double"/>
            <xsd:element name="ItemNumber" type="xsd:string"/>
            <xsd:element name="WarehouseId" type="xsd:string"/>
            <xsd:element name="Currency" type="xsd:string" minOccurs="0"/>
            <xsd:element name="StockLevel" type="xsd:long"/>
            <xsd:element name="BoxSize" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SalesQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="SalesIds" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="SaleLineId" type="xsd:int"/>
                    <xsd:element name="SerialNumber" type="xsd:string"/>
                    <xsd:element name="RecipientCustomerId" type="xsd:int"/>
                    <xsd:element name="ContractId" type="xsd:int"/>
                    <xsd:element name="PurchaseOrderData" type="xsd:string"/>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="Verbosity" type="xsd:string"/>
                    <xsd:element name="DateFrom" type="xsd:dateTime" minOccurs="0"></xsd:element>
                    <xsd:element name="DateTo" type="xsd:dateTime" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SaleModificationData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int"/>
                    <xsd:element name="DeliveryCustomerId" type="xsd:int"/>
                    <xsd:element name="SaleLineId" type="xsd:int"/>
                    <xsd:element name="PaymentTransactionData" type="xsd:string"/>
                    <xsd:element name="PaymentInCents" type="xsd:double"/>
                    <xsd:element name="NewPaymentStatus" type="xsd:string"/>
                    <xsd:element name="TillId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    <xsd:complexType name="SalePostProcessingData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int"/>
                    <xsd:element name="SaleLineId" type="xsd:int"/>
                    <xsd:element name="ProductInstanceId" type="xsd:int"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="SerialNumber" type="xsd:string"/>
                    <xsd:element name="KitItemNumber" type="xsd:string"/>
                    <xsd:element name="DeviceSerialNumber" type="xsd:string"/>
                    <xsd:element name="IgnoreStatus" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="SalePostProcessingData" type="tns:SalePostProcessingData"/>
    
    <xsd:complexType name="SalesList">
        <xsd:sequence>
            <xsd:element name="Sales" type="tns:Sale" maxOccurs="unbounded"/>
            <xsd:element name="NumberOfSales" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="CashInData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CashInId" type="xsd:int"/>
                    <xsd:element name="SalesIds" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="CashReceiptedInCents" type="xsd:double"/>
                    <xsd:element name="CashRequiredInCents" type="xsd:double"/>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="SalesAdministratorCustomerId" type="xsd:int"/>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="CashInType" type="xsd:string"/>
                    <xsd:element name="BankName" type="xsd:string" minOccurs="0"/> <!-- Optional Bank Name -->
                    <xsd:element name="CashInDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="ExtTxId" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CashInQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SalesAdministratorCustomerId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CashInId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CashInType" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CashInList">
        <xsd:sequence>
            <xsd:element name="CashInDataList" type="tns:CashInData"  maxOccurs="unbounded"/>
            <xsd:element name="NumberOfCashIns" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReturnData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="LineItems" type="tns:LineItem" maxOccurs="unbounded"/>
                    <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
                    <xsd:element name="SaleId" type="xsd:int"/>
                    <xsd:element name="ReasonCode" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="ReturnLocation" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="LineItem">
        <xsd:sequence>
            <xsd:element name="LineId" type="xsd:int"/>
            <xsd:element name="Quantity" type="xsd:long"  minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="CreditNoteQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="CreditNoteId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CreditNoteList">
        <xsd:sequence>
            <xsd:element name="CreditNotes" type="tns:CreditNote" maxOccurs="unbounded"/>
            <xsd:element name="NumberOfCreditNotes" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="CreditNote">
        <xsd:sequence>
            <xsd:element name="CreditNoteId" type="xsd:int"/>
            <xsd:element name="CreditNotePDFBase64" type="xsd:string"/>
            <xsd:element name="SalesPersonCustomerId" type="xsd:int"/>
            <xsd:element name="SaleId" type="xsd:int"/>
            <xsd:element name="ReasonCode" type="xsd:string"/>
            <xsd:element name="Description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PaymentNotificationData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int"/>
                    <xsd:element name="PaymentGatewayTransactionId" type="xsd:string"/>
                    <xsd:element name="PaymentGatewayCode" type="xsd:string"/>
                    <xsd:element name="PaymentInCents" type="xsd:double"/>
                    <xsd:element name="PaymentGatewayExtraData" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:element name="InventoryQuery" type="tns:InventoryQuery"/>
    <xsd:element name="PromotionCodeApprovalData" type="tns:PromotionCodeApprovalData"/>
    <xsd:element name="ReturnData" type="tns:ReturnData"/>
    <xsd:element name="CreditNote" type="tns:CreditNote"/>
    <xsd:element name="CreditNoteQuery" type="tns:CreditNoteQuery"/>
    <xsd:element name="CreditNoteList" type="tns:CreditNoteList"></xsd:element>
    <xsd:element name="SaleModificationData" type="tns:SaleModificationData"/>
    <xsd:element name="InventoryList" type="tns:InventoryList"/>
    <xsd:element name="Sale" type="tns:Sale"/>
    <xsd:element name="Return" type="tns:Return"/>
    <xsd:element name="NewSale" type="tns:Sale"/>
    <xsd:element name="SalesQuery" type="tns:SalesQuery"/>
    <xsd:element name="SalesList" type="tns:SalesList"/>
    <xsd:element name="CashInData" type="tns:CashInData"/>
    <xsd:element name="CashedInData" type="tns:CashInData"/>
    <xsd:element name="SaleDataForQuote" type="tns:Sale"/>
    <xsd:element name="Quote" type="tns:Sale"/>
    <xsd:element name="CashInQuery" type="tns:CashInQuery"/>
    <xsd:element name="CashInList" type="tns:CashInList"/>
    <xsd:element name="PaymentNotificationData" type="tns:PaymentNotificationData"/>
    
    
    <!--
    ******************************************************************************************************************************************
                       CONTRACT FUNCTIONALITY
    ******************************************************************************************************************************************
    -->
    <xsd:complexType name="Contract">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ContractId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ContractStartDateTime" type="xsd:dateTime"/>
                    <xsd:element name="ContractEndDateTime" type="xsd:dateTime"/>
                    <xsd:element name="CreatedByCustomerId" type="xsd:int" />
                    <xsd:element name="CreatedDateTime" type="xsd:dateTime"/>
                    <xsd:element name="LastModifiedDateTime" type="xsd:dateTime"/>
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="CustomerProfileId" type="xsd:int" />
                    <xsd:element name="OrganisationId" type="xsd:int"/>
                    <xsd:element name="InvoiceCycleDay" type="xsd:int"/>
                    <xsd:element name="ContractName" type="xsd:string"/>
                    <xsd:element name="CreditAccountNumber" type="xsd:string"/>
                    <xsd:element name="FulfilmentItemsAllowed" type="xsd:string"/>
                    <xsd:element name="StaffMembersAllowed" type="xsd:string"/>
                    <xsd:element name="PaymentMethod" type="xsd:string"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="ContractDocuments" type="tns:Photograph" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:complexType name="ContractQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ContractId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CustomerId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OrganisationId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>       
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ContractList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Contracts" type="tns:Contract" maxOccurs="unbounded"/>
                    <xsd:element name="NumberOfContracts" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:element name="Contract" type="tns:Contract"/>        
    <xsd:element name="NewContract" type="tns:Contract"/>
    <xsd:element name="ModifiedContract" type="tns:Contract"/>
    <xsd:element name="ContractId" type="tns:PlatformInteger"/>
    <xsd:element name="ContractIdToDelete" type="tns:PlatformInteger"/>
    <xsd:element name="ContractQuery" type="tns:ContractQuery"/>
    <xsd:element name="ContractList" type="tns:ContractList"/>
    
    <xsd:complexType name="Photograph">
        <xsd:sequence>
            <xsd:element name="PhotoGuid" type="xsd:string"/>
            <xsd:element name="PhotoType" type="xsd:string"/>
            <xsd:element name="Data" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SoldStockLocationQuery">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SoldToOrganisationId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="HeldByOrganisationId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ItemNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SoldStockLocationData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SoldStockLocations" type="tns:SoldStockLocation" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SoldStockLocation">
        <xsd:sequence>
            <xsd:element name="SoldToOrganisationId" type="xsd:int"/>
            <xsd:element name="HeldByOrganisationId" type="xsd:int"/>
            <xsd:element name="ItemNumber" type="xsd:string"/>
            <xsd:element name="SerialNumber" type="xsd:string"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="UsedAsReplacement" type="xsd:boolean"/>
            <xsd:element name="PriceInCentsIncl" type="xsd:double"/>
            <xsd:element name="SaleDate" type="xsd:dateTime"/>
            <xsd:element name="KitPrice" type="xsd:double"/>
            <xsd:element name="ProvisionData" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="SoldStockLocationList">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SoldStockLocations" type="tns:SoldStockLocation" maxOccurs="unbounded"/>
                    <xsd:element name="NumberOfSoldStockLocations" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="SoldStockLocationQuery" type="tns:SoldStockLocationQuery"/>
    <xsd:element name="SoldStockLocationList" type="tns:SoldStockLocationList"/>
    <xsd:element name="SoldStockLocationData" type="tns:SoldStockLocationData"/>
    
    <xsd:complexType name="CreateStandardGLData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="GlAmount" type="xsd:double"></xsd:element>
                    <xsd:element name="PrimaryKey" type="xsd:int"></xsd:element>
                    <xsd:element name="GlDescription" type="xsd:string"></xsd:element>
                    <xsd:element name="TableName" type="xsd:string"></xsd:element>
                    <xsd:element name="X3GlTransactionCode" type="xsd:string"></xsd:element>
                    <xsd:element name="GlCreditAccount" type="xsd:string"></xsd:element>
                    <xsd:element name="GlDebitAccount" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="CreateStandardGLOut">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="CreateStandardGLData" type="tns:CreateStandardGLData"></xsd:element>
    <xsd:element name="CreateStandardGLOut" type="tns:CreateStandardGLOut"></xsd:element>
     
    <xsd:complexType name="ReverseGLData">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="TransactionType" type="xsd:string"></xsd:element>
                    <xsd:element name="PrimaryKey" type="xsd:int"></xsd:element>
                    <xsd:element name="TableName" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ReverseGLOut">
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="ReverseGLData" type="tns:ReverseGLData"></xsd:element>
    <xsd:element name="ReverseGLOut" type="tns:ReverseGLOut"></xsd:element>
    
</xsd:schema>

