Platforms/PVS/src/main/resources/PVSSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://xml.smilecoms.com/schema/PVS"
 xmlns:tns="http://xml.smilecoms.com/schema/PVS"
 elementFormDefault="qualified">
  
    <xsd:complexType name="PlatformObject">
        <xsd:sequence>
            <xsd:element name="PlatformContext" type="tns:PlatformContext" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:simpleType name="stDone">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>
 
    <xsd:element name="IsUpRequest" type="xsd:string"/>
 
    <xsd:complexType name="PlatformContext">
        <xsd:sequence>
            <xsd:element name="TxId" type="xsd:string"/>
            <xsd:element name="OriginatingIdentity" type="xsd:string"/>
            <xsd:element name="OriginatingIP" type="xsd:string"/>
            <xsd:element name="Tenant" type="xsd:string"></xsd:element>
            <xsd:element name="Comment" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PVSError" type="tns:PVSError"/>
 
    <xsd:complexType name="Done">
        <xsd:sequence>
            <xsd:element name="Done" type="tns:stDone">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:element name="Done" type="tns:Done"/>
 
    <xsd:complexType name="PVSError">
        <xsd:sequence>
            <xsd:element name="ErrorDesc" type="xsd:string"/>
            <xsd:element name="ErrorType" type="xsd:string"/>
            <xsd:element name="ErrorCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
 
    <xsd:complexType name="PlatformString" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="String" type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PlatformInteger" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="Integer" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
 
 
    <xsd:complexType name="NewPrepaidStripsData" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="NumberOfStrips" type="xsd:int"/> 
                    <xsd:element name="ExpiryDate" type="xsd:dateTime"/>
                    <xsd:element name="UnitCreditSpecificationId" type="xsd:int"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PrepaidStripBatchData" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="StartingPrepaidStripId" type="xsd:int"/>   
                    <xsd:element name="EndingPrepaidStripId" type="xsd:int"/>   
                    <xsd:element name="Status" type="xsd:string"/> 
                    <xsd:element name="InvoiceData" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="PrepaidStripBatchData" type="tns:PrepaidStripBatchData"/>
    <xsd:element name="NewPrepaidStripsData" type="tns:NewPrepaidStripsData"/>
    
    
    
    <xsd:complexType name="PrepaidStripsQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int"/>
                    <xsd:element name="Status" type="xsd:string"/>   
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    

    <xsd:element name="PrepaidStripsQuery" type="tns:PrepaidStripsQuery"/>
    
    <xsd:complexType name="PrepaidStrip" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="PrepaidStripId" type="xsd:int"/>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="Status" type="xsd:string"/>
                    <xsd:element name="RedemptionAccountId" type="xsd:long"/>
                    <xsd:element name="RedemptionAccountHistoryId" type="xsd:long"/>
                    <xsd:element name="GeneratedDate" type="xsd:dateTime"/>
                    <xsd:element name="ExpiryDate" type="xsd:dateTime"/>
                    <xsd:element name="InvoiceData" type="xsd:string"/>
                    <xsd:element name="UnitCreditSpecificationId" type="xsd:int"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="PIN" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PrepaidStripRedemptionData" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="RedeemedByAccountId" type="xsd:long"/>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="EncryptedPIN" type="xsd:string"/>   
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="VoucherLockForAccount" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="Attempts" type="xsd:int"/>
                    <xsd:element name="AccountAttempts" type="xsd:int"/>                    
                    <xsd:element name="LockUntilTimestamp" type="xsd:dateTime"/>   
                    <xsd:element name="Found" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="VoucherLockForAccount" type="tns:VoucherLockForAccount"/>
    
    <xsd:complexType name="VoucherLockForAccountQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="AccountId" type="xsd:long"/>   
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
   
    <xsd:element name="VoucherLockForAccountQuery" type="tns:VoucherLockForAccountQuery"/>

    <xsd:element name="PrepaidStrip" type="tns:PrepaidStrip"/>
    <xsd:element name="UpdatedPrepaidStrip" type="tns:PrepaidStrip"/>
    <xsd:element name="PrepaidStripRedemptionData" type="tns:PrepaidStripRedemptionData"/>
    
    <xsd:complexType name="PrepaidStripQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="PrepaidStripId" type="xsd:int"/>
                    <xsd:element name="EncryptedPINHex" type="xsd:string"/>  
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PrepaidStripCountQuery" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="ValueInCents" type="xsd:double"/>   
                    <xsd:element name="InvoiceData" type="xsd:string"/>   
                    <xsd:element name="StartingPrepaidStripId" type="xsd:int"/>   
                    <xsd:element name="EndingPrepaidStripId" type="xsd:int"/>   
                    <xsd:element name="AccountId" type="xsd:long"/>
                    <xsd:element name="Status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="PrepaidStrips">
        <xsd:sequence>
            <xsd:element name="PrepaidStrips" type="tns:PrepaidStrip" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
        
    
    <xsd:element name="PrepaidStrips" type="tns:PrepaidStrips"/>    
    <xsd:element name="PrepaidStripCountQuery" type="tns:PrepaidStripCountQuery"/>
    <xsd:element name="StripCount" type="tns:PlatformInteger"/>
    <xsd:element name="PrepaidStripQuery" type="tns:PrepaidStripQuery"/>
    
    <xsd:complexType name="ResetAccountVoucherLock" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="AccountIdToReset" type="xsd:long"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="ResetAccountVoucherLock" type="tns:ResetAccountVoucherLock"/>
    
    
    <xsd:complexType name="SendPrepaidStripsData" >
        <xsd:complexContent>
            <xsd:extension base="tns:PlatformObject">
                <xsd:sequence>
                    <xsd:element name="SaleId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="SendPrepaidStripsData" type="tns:SendPrepaidStripsData"/>
    
</xsd:schema>

