Libraries/SC-TelecomsRegulatorPlugins/src/main/resources/tcraSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://infowise.co.tz/sub-registration/" xmlns:tns="http://infowise.co.tz/sub-registration/">
    <!-- XML Schema Generated from XML Document on Wed May 29 2019 11:21:30 GMT+0200 (South Africa Standard Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="subRegistration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="operatorCode" type="xs:string"></xs:element>
                <xs:element name="operatorPassword" type="xs:string"></xs:element>
                <xs:element name="timestamp" type="xs:string" minOccurs="0"></xs:element>
                <xs:element name="registrationRequest" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="registrationDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="operatorConversationId" type="xs:string"></xs:element>
                                        <xs:element name="transactionID" type="xs:string"></xs:element>
                                        <xs:element name="verificationDate" type="xs:string"></xs:element>
                                        <xs:element name="nationalIDNumber" type="xs:string"></xs:element>
                                        <xs:element name="msisdn" type="xs:string"></xs:element>
                                        <xs:element name="imei" type="xs:string"></xs:element>
                                        <xs:element name="imsi" type="xs:string"></xs:element>
                                        <xs:element name="iccid" type="xs:string"></xs:element>
                                        <xs:element name="representationType" type="xs:string"></xs:element>
                                        <xs:element name="relationship" type="xs:string"></xs:element>
                                        <xs:element name="customerType" type="xs:string"></xs:element>
                                        <xs:element name="firstName" type="xs:string"></xs:element>
                                        <xs:element name="middleName" type="xs:string"></xs:element>
                                        <xs:element name="lastName" type="xs:string"></xs:element>
                                        <xs:element name="dateOfBirth" type="xs:string"></xs:element>
                                        <xs:element name="sex">
                                            <xs:simpleType>
                                                <xs:restriction base = "xs:string">
                                                    <xs:enumeration value = "F"/>
                                                    <xs:enumeration value = "M"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nationality" type="xs:string"></xs:element>
                                        <xs:element name="otherIDNumber" type="xs:string"></xs:element>
                                        <xs:element name="otherIDType" type="xs:string"></xs:element>
                                        <xs:element name="cardRegistrationDate" type="xs:string"></xs:element>
                                        <xs:element name="placeOfRegistration" type="xs:string"></xs:element>
                                        <xs:element name="agentType" type="xs:string"></xs:element>
                                        <xs:element name="agentName" type="xs:string"></xs:element>
                                        <xs:element name="agentCode" type="xs:int"></xs:element>
                                        <xs:element name="agentMsisdn" type="xs:string"></xs:element>
                                        <xs:element name="region" type="xs:string"></xs:element>
                                        <xs:element name="district" type="xs:string"></xs:element>
                                        <xs:element name="ward" type="xs:string"></xs:element>
                                        <xs:element name="postcode" type="xs:string"></xs:element>
                                        <xs:element name="physicalAddress" type="xs:string"></xs:element>
                                        <xs:element name="corporateName" type="xs:string"></xs:element>
                                        <xs:element name="corporateRegistrationDate" type="xs:string"></xs:element>
                                        <xs:element name="tinNumber" type="xs:string"></xs:element>
                                        <xs:element name="otherNumbers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="otherNumber" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="msisdn" type="xs:string"></xs:element>
                                                                <xs:element name="iccid" type="xs:string"></xs:element>
                                                                <xs:element name="imsi" type="xs:string"></xs:element>
                                                                <xs:element name="imei" type="xs:string"></xs:element>
                                                                <xs:element name="userFirstName" type="xs:string"></xs:element>
                                                                <xs:element name="userMiddleName" type="xs:string"></xs:element>
                                                                <xs:element name="userLastName" type="xs:string"></xs:element>
                                                                <xs:element name="userDateOfBirth" type="xs:string"></xs:element>
                                                                <xs:element name="userSex" type="xs:string"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="otherRegistrations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="otherRegistration" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="registrationType" type="xs:string"></xs:element>
                                                                <xs:element name="registrationNumber" type="xs:string"></xs:element>
                                                                <xs:element name="registrationDate" type="xs:string"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="registrationImages">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="registrationImage" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="imageType" type="xs:string"></xs:element>
                                                                <xs:element name="imageContent" type="xs:string"></xs:element>
                                                                <xs:element name="imageFormat">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base = "xs:string">
                                                                            <xs:enumeration value = "PNG"/>
                                                                            <xs:enumeration value = "PDF"/>
                                                                            <xs:enumeration value = "TIFF"/>
                                                                            <xs:enumeration value = "JPG"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationResponse" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operatorConversationId" type="xs:string"></xs:element>
                            <xs:element name="conversationId" type="xs:string"></xs:element>
                            <xs:element name="responseCode" type="xs:int"></xs:element>
                            <xs:element name="responseDesc" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationResult" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operatorConversationId" type="xs:string"></xs:element>
                            <xs:element name="conversationId" type="xs:string"></xs:element>
                            <xs:element name="resultCode" type="xs:int"></xs:element>
                            <xs:element name="resultDesc" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="churnRequest" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operatorConversationId" type="xs:string"></xs:element>
                            <xs:element name="iccid" type="xs:string"></xs:element>
                            <xs:element name="msisdn" type="xs:string"></xs:element>
                            <xs:element name="status" type="xs:string"></xs:element>
                            <xs:element name="dated" type="xs:string"></xs:element>
                            <xs:element name="statusReason" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="churnResponse" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operatorConversationId" type="xs:string"></xs:element>
                            <xs:element name="conversationId" type="xs:string"></xs:element>
                            <xs:element name="iccid" type="xs:string"></xs:element>
                            <xs:element name="msisdn" type="xs:string"></xs:element>
                            <xs:element name="responseCode" type="xs:int"></xs:element>
                            <xs:element name="responseDesc" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationImageRequest" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iccid" type="xs:string"></xs:element>
                            <xs:element name="msisdn" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationImageResponse" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="iccid" type="xs:string"></xs:element>
                            <xs:element name="msisdn" type="xs:string"></xs:element>
                            <xs:element name="registrationImages">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="registrationImage" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="imageType" type="xs:string"></xs:element>
                                                    <xs:element name="imageContent" type="xs:string"></xs:element>
                                                    <xs:element name="imageFormat" type="xs:string"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationNamesRequest" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="msisdn" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registrationNamesResponse" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="firstName" type="xs:string"></xs:element>
                            <xs:element name="middleName" type="xs:string"></xs:element>
                            <xs:element name="lastName" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:double" use="required"></xs:attribute>
            <!--<xs:attribute name="xmlns" type="xs:string"></xs:attribute-->
        </xs:complexType>
    </xs:element>
</xs:schema>
