Libraries/SC-SCAClient/src/main/java/META-INF/wsdl/ETServiceDefinition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ETServiceDefinition" targetNamespace="http://xml.smilecoms.com/ET"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.smilecoms.com/ET" xmlns:ns="http://xml.smilecoms.com/schema/ET" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://xml.smilecoms.com/ET">
            <xsd:import namespace="http://xml.smilecoms.com/schema/ET" schemaLocation="ETSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateEventRequest">
        <part name="NewEvent" element="ns:NewEvent"/>
    </message>
    <message name="CreateEventResponse">
        <part name="Done" element="ns:Done"/>
    </message>
    <message name="ETError">
        <part name="ETError" element="ns:ETError"/>
    </message>
    <message name="IsUpRequest">
        <part name="IsUpRequest" element="ns:IsUpRequest"/>
    </message>
    <message name="Done">
        <part name="Done" element="ns:Done"/>
    </message>
    <message name="CreateEventSubscriptionRequest">
        <part name="NewEventSubscription" element="ns:NewEventSubscription"/>
    </message>
    <message name="GetEventsRequest">
        <part name="EventQuery" element="ns:EventQuery"/>
    </message>
    <message name="GetEventsResponse">
        <part name="EventList" element="ns:EventList"/>
    </message>
    <message name="DeleteFutureEventRequest">
        <part name="EventId" element="ns:EventId"/>
    </message>
    
    
    <portType name="ETSoap">
        <operation name="CreateEvent">
            <input name="input1" message="tns:CreateEventRequest"/>
            <output name="output1" message="tns:CreateEventResponse"/>
            <fault name="fault1" message="tns:ETError"/>
        </operation>
        <operation name="IsUp">
            <input name="input2" message="tns:IsUpRequest"/>
            <output name="output2" message="tns:Done"/>
            <fault name="fault1" message="tns:ETError"/>
        </operation>
        <operation name="CreateEventSubscription">
            <input name="input3" message="tns:CreateEventSubscriptionRequest"/>
            <output name="output3" message="tns:Done"/>
            <fault name="fault1" message="tns:ETError"/>
        </operation>
        <operation name="GetEvents">
            <input name="input4" message="tns:GetEventsRequest"/>
            <output name="output4" message="tns:GetEventsResponse"/>
            <fault name="fault1" message="tns:ETError"/>
        </operation>
        <operation name="DeleteFutureEvent">
            <input name="input5" message="tns:DeleteFutureEventRequest"/>
            <output name="output5" message="tns:Done"/>
            <fault name="fault1" message="tns:ETError"/>
        </operation>
    </portType>
    <binding name="ETBinding" type="tns:ETSoap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateEvent">
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="IsUp">
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="CreateEventSubscription">
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="GetEvents">
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="DeleteFutureEvent">
            <input name="input5">
                <soap:body use="literal"/>
            </input>
            <output name="output5">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ET">
        <port name="ETSoap" binding="tns:ETBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ET/ETSoap"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ETServiceDefinition">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ET" portType="tns:ETSoap"/>
    </plnk:partnerLinkType>
</definitions>

